body {background-color: #ffffff}
img {margin-left: 700px;
    margin-right: auto;
    width: auto}
h1 {margin-left: 750px;
    margin-right: auto;
    width: 10em;
    color: black;}
p {margin-left: 750px;
    margin-right: auto;
    width: 20em;
    color: black;}